{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["import", "node", "promise", "standard", "prettier"],
  "rules": {
    "no-console": "warn"
  }
}
